<style>
    form p > label {
        display: inline-block;
        width: 100px;
    }
    form input[type="text"], form textarea {
        border: 1px solid #7a1919;
    }
    form input[type="submit"] {
        border: 1px solid #7a1919;
        background-color: #f8f80c;
        color: #060606;
        font-weight: bold;
        padding: 5px 15px;
    }
</style>